* {
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
}

body{
    background: rgb(63, 94, 251);
    background: linear-gradient(129deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);

}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.todo-box{
    width: 18%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 20px;
    border-radius: 12px;
}
ul{
    padding: 10px 11px 11px 27px;
}
ul li{
    list-style: none;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 4px;
    left: -17px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    bottom: -12px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background: #edeef0;
}